PORT=3000
DB_HOST=batch04-db.mysql.database.azure.com
DB_USER=batch04_admin  
DB_PASSWORD=Intern04@40
DB_NAME=ilp
JWT_SECRET=Sathvik
JWT_REFRESH_SECRET=Sathvik
EMAIL_USER=golisathu@gmail.com
EMAIL_PASS=pvyknxibideikaso
ENABLE_QUEUES=false
RAZORPAY_KEY_ID=rzp_test_x3lel82AZIsRl6
RAZORPAY_KEY_SECRET=IAdwmjeqwMbXm9LEJD90JtAk